<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/HTML - CSS/jornada-viagens/css/style.css" />
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <title>Jornada Viagens</title>
  </head>
  <body>
    <header>
      <a class="logo" href="#" title="Pagina inicial">
        <img
          class="img-mobile"
          src="../img/bussola-jornada-branco.png"
          alt="Bussola jornada viagens"
        />
        <img
          class="img-desktop"
          src="../img/bussola-texto-jornada-branca.png"
          alt="Bussola jornada viagens"
        />
      </a>
      <div class="navigation-menu">
        <label for="menu">
          <img src="../img/menu.png" alt="Menu" />
        </label>
        <input type="checkbox" id="menu" hidden />
        <nav>
          <ul class="list-links">
            <li><a href="#" target="_blank" title="Blog">Blog</a></li>
            <li>
              <a href="#" target="_blank" title="Pagina de pacotes"
                >Pacotes de viagem</a
              >
            </li>
            <li><a href="#" target="_blank" title="Contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
