<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/HTML - CSS/jornada-viagens/css/style.css" />
    <link rel="icon" href="favicon.png" type="image/x-icon" />
    <title>Jornada viagens</title>
  </head>
  <body>
    <header>
      <a href="index.html" title="Voltar para pagina inicial" class="logo">
        <img
          class="img-mobile"
          src="/HTML - CSS/jornada-viagens/img/bussola-jornada-branca.png"
          alt="Bussola do logo Jornada Viagens na cor branca"
        />
        <img
          class="img-desktop"
          src="/HTML - CSS/jornada-viagens/img/Logo-branco 2.png"
          alt="Logo Jornada Viagens na cor branca"
        />
      </a>
      <div class="navegacao">
        <label for="menu">
          <img src="/HTML - CSS/jornada-viagens/img/menu.png" alt="Menu" />
        </label>
        <input type="checkbox" id="menu" hidden />
        <nav>
          <ul class="list-links">
            <li>
              <a href="blog.html" target="_blank" title="Ir para pagina blog"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="pacotes.html"
                target="_blank"
                title="Ir para pagina pacotes de viagem"
                >Pacotes de viagem</a
              >
            </li>
            <li>
              <a
                href="contato.html"
                target="_blank"
                title="Ir para a pagina de contatos"
                >Contato</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="hero">
        <div class="hero-img"></div>
        <h2>
          Somos uma agência apaixonada por criar viagens inesquecíveis. Do
          destino à seleção das atividades, cuidamos de todos os detalhes para
          que você aproveite ao máximo cada momento da sua jornada!
        </h2>
      </section>
      <section class="ofertas">
        <div class="section-title">
          <h2>Ofertas da semana</h2>
          <hr />
        </div>
        <div class="oferta-cartoes">
          <article class="card japao">
            <header>
              <p>HOTEL+AEREO</p>
              <h3>Japão <br /><span>R$4000</span></h3>
            </header>
            <footer>
              <a href="#" class="button">Ver detalhes</a>
            </footer>
          </article>
          <article class="card san-andreas">
            <header>
              <p>HOTEL+AEREO</p>
              <h3>San Andreas <br /><span>R$3000</span></h3>
            </header>
            <footer>
              <a href="#" class="button">Ver detalhes</a>
            </footer>
          </article>
          <article class="card paraiba">
            <header>
              <p>HOTEL+AEREO</p>
              <h3>Paraiba <br /><span>R$1200</span></h3>
            </header>
            <footer>
              <a href="#" class="button">Ver detalhes</a>
            </footer>
          </article>
          <article class="card manaus">
            <header>
              <p>HOTEL+AEREO</p>
              <h3>Manaus <br /><span>R$1600</span></h3>
            </header>
            <footer>
              <a href="#" class="button">Ver detalhes</a>
            </footer>
          </article>
        </div>
      </section>
      <section class="busca">
        <div class="section-title">
          <h2>Busque por categoria</h2>
          <hr />
        </div>
        <div class="busca-cartoes">
          <a href="#" class="card" target="_blank" title="nacional">
            <img
              src="/HTML - CSS/jornada-viagens/img/ícone - pacotes nacionais.png"
              alt="Busca pacotes nacionais"
            />
            <h3>Pacotes Nacionais</h3>
          </a>
          <a href="#" class="card" target="_blank" title="internacional">
            <img
              src="/HTML - CSS/jornada-viagens/img/ícone - pacotes interacionais.png"
              alt="Busca pacotes internacionais"
            />
            <h3>Pacotes Interacionais</h3>
          </a>
          <a href="#" class="card" target="_blank" title="transfer">
            <img
              src="/HTML - CSS/jornada-viagens/img/ícone -transfer.png"
              alt="Busca pacotes transfer"
            />
            <h3>Transfer</h3>
          </a>
          <a href="#" class="card" target="_blank" title="seguro">
            <img
              src="/HTML - CSS/jornada-viagens/img/ícone - seguro viagem.png"
              alt="Busca pacotes de seguro viagem"
            />
            <h3>Seguro viagem</h3>
          </a>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
