<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semantica</title>
</head>
<body>
    <header>
        <h1>Titulo do header</h1>
        <p>
            Todo conteudo de cabeçalho deve ficar dentro da tag <code>&lt;header&gt;</code>
        </p>
        <nav>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
        </nav>
    </header>
    <main>
        <section>
            <h2> Titulo da primeira seção</h2>
            <p>Texto da pagina</p>
        </section>
        <section>
            <h2> Titulo da segunda seção</h2>
            <p>Texto da pagina</p>
        </section>
        <div>
            <p>Posso utilizar uma div como uma section mas não é semantica</p>
            <p>Tambem posso utiliar <span>span</span> para fazer estilização caso necessario</p>
        </div>
    </main>
    <footer>
        <p>Contatos (Apenas teste)</p>
        <ul>
            <li>Contato 1</li>
            <li>Contato 2</li>
        </ul>
    </footer>

    <article>
        <p>Semelhante a uma section ma representa algo mo um artigo, é isso que estou dizendo para o navegador quando utilizo essa tag</p>
    </article>
    <figure>
        <img src="/semantica/img/IMAGEM JPG - EDITED.jpg" alt="">
        <figcaption>Descrição da figura, mas ela fica literalmente escrita na tela</figcaption>
    </figure>
</body>
</html>