<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/HTML - CSS/pesquisa-culturama/css/style.css">
    <title>Pesquisa Culturama</title>
</head>
<body>
    <header>
        <h1>Pesquisa online</h1>
    </header>
    <main>
        <section>
            <form action="#" method="get">

                <fieldset>
                    <legend>Dados pessoais</legend>
                    <br>
                    <label for="userName">Nome</label>
                    <input type="text" name="userName" required>
                    <br><br>
                    <label for="age">Idade</label>
                    <input type="number" name="age" required min="12" max="100">
                    <br><br>
                    <label for="birthDate">Data de nascimento</label>
                    <input type="date" name="birthDate">
                    <br><br>
                    <label for="userEmail">Email</label>
                    <input type="email" name="userEmail" required>
                    <br><br>
                    <label for="userPhoneNumber">Telefone</label>
                    <input type="tel" name="userPhoneNumber" pattern="[0-9]{11}" placeholder="DDD + Numero sem espaço ou hifen">
                    <br><br>
                    <label for="userImage">Upload de foto</label>
                    <input type="file" accept="image/*" name="userImage">
                    <br>
                </fieldset>

                <fieldset>
                    <legend>Perfil</legend>
                    <p>Genero: </p>
                    <input type="radio" name="userGener" value="feminino">
                    <label for="userGener">Feminino</label>
                    <input type="radio" name="userGener" value="masculino">
                    <label for="userGener">Masculino</label>
                    <input type="radio" name="userGener" value="nao-informado">
                    <label for="userGener">Não informado</label>
                    <br><br>
                    <label for="maritalStatus">Estado civil</label>
                    <select name="maritalStatus" id="">
                        <option value="nao-informado">Selecione</option>
                        <option value="casado">Casado</option>
                        <option value="namorando">Namorando</option>
                        <option value="solteiro">Solteiro</option>
                    </select>
                    <br><br>
                    <label for="userState">Estado</label>
                    <select name="userState" id="">
                        <option value="nao-informado">Selecione</option>
                        <option value="espirito-santo">Espirito Santo</option>
                        <option value="minas-gerais">Minas Gerais</option>
                        <option value="rio-de-janeiro">Rio de Janeiro</option>
                        <option value="sao-paulo">São Paulo</option>
                    </select>
                    <br><br>
                    <label for="userCity">Cidade</label>
                    <input type="text" name="userCity">
                </fieldset>
                <br>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer></footer>
</body>
</html>