<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>links</title>
</head>
<body>
    <h3>Link</h3>
    <a href="https://www.google.com" target="_blank" rel="Externo">Google</a>

    <h2>Pagina principal</h2>
    <a href="index.html" target="" rel="Interno">Pagina principal</a>
    <hr>
    <h2>Imagens</h2>
    <a href="imagens.html" target="" rel="Interno">Imagens</a>
    <hr>
    <h2>Listas</h2>
    <a href="listas.html" target="" rel="Interno">Listas</a>
    <hr>
    <h2>Paragrafos</h2>
    <a href="paragrafos.html" target="" rel="Interno">Paragrafos</a>
    <hr>
    <h2>Titulos</h2>
    <a href="titulo.html" target="" rel="Interno">Titulos</a>
</body>
</html>