<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulos</title>
</head>
<body>
    <h1>Tag H1</h1>
    <h2>Tag H2</h2>
    <h3>Tag H3</h3>
    <h4>Tag H4</h4>

    <h2>Pagina principal</h2>
    <a href="index.html" target="" rel="Interno">Pagina principal</a>
    <hr>
    <h2>Imagens</h2>
    <a href="imagens.html" target="" rel="Interno">Imagens</a>
    <hr>
    <h2>Links</h2>
    <a href="links.html" target="" rel="Interno">Links</a>
    <hr>
    <h2>Listas</h2>
    <a href="listas.html" target="" rel="Interno">Listas</a>
    <hr>
    <h2>Paragrafos</h2>
    <a href="paragrafos.html" target="" rel="Interno">Paragrafos</a>
    <hr>
</body>
</html>