.destinations .section-title {
  width: 280px;
  margin: 0 auto;
}

.destinations .item {
  margin-bottom: 40px;
}

.destinations .item h4 {
  text-align: justify;
}

.destinations .item p {
  text-align: justify;
  margin-bottom: 24px;
}

.destinations .item footer a {
  width: 312px;
  text-align: center;
}

.img-item {
  width: 312px;
  height: 360px;
}

.tokyo {
  background: url(../img/Tokyo-mobile.png) no-repeat;
  background-size: cover;
}

.osaka {
  background: url(../img/Osaka-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .img-item {
    width: 648px;
    height: 452px;
  }
  .destinations .section-title {
    width: 100%;
  }
  .tokyo {
    background: url(../img/Tokyo-tablet.png) no-repeat;
    background-size: cover;
  }

  .osaka {
    background: url(../img/Osaka-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .img-item {
    width: 400px;
    height: 279px;
  }

  .tokyo {
    background: url(../img/Tokyo-desk.png) no-repeat;
    background-size: cover;
  }

  .osaka {
    background: url(../img/Osaka-desk.png) no-repeat;
    background-size: cover;
  }

  .destination-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .img-item {
    width: 648px;
    height: 452px;
  }

  .tokyo {
    background: url(../img/Tokyo-tablet.png) no-repeat;
    background-size: cover;
  }

  .osaka {
    background: url(../img/Osaka-tablet.png) no-repeat;
    background-size: cover;
  }
}
