section.bottom-hero {
  margin: 0;
}

.hero .image-hero,
.bottom-hero .image-hero {
  height: 400px;
  width: 100%;
}

.hero .image-hero {
  background: url(../img/hero-mobile.png) no-repeat;
  background-size: cover;
}

.bottom-hero .image-hero {
  background: url(../img/bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .hero .image-hero {
    height: 620px;
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero .image-hero {
    height: 400px;
    background: url(../img/bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero h2 {
    padding: 88px 120px;
  }

  .hero .image-hero {
    background: url(../img/hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero .image-hero {
    height: 600px;
    background: url(../img/bottom-hero-desk.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
