section.bottom-hero,
section.bottom-hero-packcage {
  margin: 0;
}

.hero .image-hero,
.bottom-hero .image-hero,
.bottom-hero-packcage .image-hero,
.hero-pack {
  height: 400px;
  width: 100%;
}

.hero .image-hero {
  background: url(../img/hero-mobile.png) no-repeat;
  background-size: cover;
}

.bottom-hero .image-hero {
  background: url(../img/bottom-hero-mobile.png) no-repeat;
  background-size: cover;
}

.bottom-hero-packcage .image-hero {
  background: url(../img/bottom-hero-packcage-mobile.png) no-repeat;
  background-size: cover;
}

.hero-pack {
  background: url(../img/hero-pack-mobile.png) no-repeat;
  background-size: cover;
}

.hero-pack article {
  padding: 65px 24px;
}

.hero-pack .section-title hr {
  margin: 0;
}

.hero-pack .section-title h2 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero-pack article p {
  margin-top: 32px;
  font-size: 20px;
}

.hero-pack h2,
.hero-pack p {
  color: var(--text-secundary-color);
  text-align: justify;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-pack {
    height: 620px;
  }

  .hero-pack article {
    padding: 208px 68px 108px 120px;
  }
  .hero-pack article p {
    font-size: 32px;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .hero .image-hero {
    height: 620px;
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero .image-hero {
    height: 400px;
    background: url(../img/bottom-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero-packcage .image-hero {
    background: url(../img/bottom-hero-packcage-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero-pack {
    background: url(../img/hero-pack-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-pack article {
    padding: 120px 360px 108px 120px;
  }

  .hero h2 {
    padding: 88px 120px;
  }

  .hero .image-hero {
    background: url(../img/hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero .image-hero {
    height: 600px;
    background: url(../img/bottom-hero-desk.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .hero-pack article {
    padding: 130px 600px 108px 120px;
  }

  .hero-pack article {
    padding: 268px 740px 158px 120px;
  }

  .hero-pack {
    background: url(../img/hero-pack-desk-large.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero-packcage .image-hero {
    height: 600px;
    background: url(../img/bottom-hero-packcage-desk.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }

  .hero-pack article {
    padding: 130px 930px 110px 600px;
  }
}
